* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: calc(100% - 64px);
    margin: auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px 4px 32px;

    &__text {
        font-size: 3rem;
        font-weight: 600;
    }

    &__buttons {
        &__cancel {
            margin-left: 10px;
        }

        &__save, &__cancel {
            font-size: 1rem;
            padding: 0.2em 0.6em;
            cursor: pointer;
        }
    }
}

.input {
    min-height: calc(100% - (4rem + 154px));
    margin: 50px 0 0 32px;

    &__form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__part {
            margin-bottom: 20px;

            &__label {
                width: 120px;
                display: inline-block;
                font-size: 1.2rem;
                font-weight: 600;

                &--type {
                    margin: 40px 0;
                    width: 180px;
                }
            }

            &__input {
                width: 200px;
                text-align: center;
                font-size: 1.2rem;
                padding: 0.2em 0.6em;
            }

            &::after {
                content: attr(data-notification);
                position: relative;
                display: inline-block;
                margin-left: 30px;
                font-size: 0.9rem;
                font-weight: 600;
                color: red;
            }
        }

        &__text {
            font-size: 0.9rem;
            font-weight: 600;
            margin: 10px 0 30px 0;
        }
    }
}

.bottom {
    padding: 24px 0;

    &__text {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .top {
        flex-direction: column;

        &__text {
            margin-bottom: 20px;
        }

        &__buttons {
            margin-bottom: 20px;
        }
    }
}