* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

hr {
  width: calc(100% - 64px);
  margin: auto;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px 4px 32px;
}

.top__text {
  font-size: 3rem;
  font-weight: 600;
}

.top__buttons__cancel {
  margin-left: 10px;
}

.top__buttons__save, .top__buttons__cancel {
  font-size: 1rem;
  padding: 0.2em 0.6em;
  cursor: pointer;
}

.input {
  min-height: calc(100% - (4rem + 154px));
  margin: 50px 0 0 32px;
}

.input__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__form__part {
  margin-bottom: 20px;
}

.input__form__part__label {
  width: 120px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

.input__form__part__label--type {
  margin: 40px 0;
  width: 180px;
}

.input__form__part__input {
  width: 200px;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2em 0.6em;
}

.input__form__part::after {
  content: attr(data-notification);
  position: relative;
  display: inline-block;
  margin-left: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: red;
}

.input__form__text {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0 30px 0;
}

.bottom {
  padding: 24px 0;
}

.bottom__text {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__buttons {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=add.css.map */