* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: calc(100% - 64px);
    margin: auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px 4px 32px;

    &__text {
        font-size: 3rem;
        font-weight: 600;
    }

    &__buttons {
        &__delete {
            margin-left: 10px;
        }

        &__add, &__delete {
            font-size: 1rem;
            padding: 0.2em 0.6em;
            cursor: pointer;
        }
    }
}

.items {
    min-height: calc(100% - (4rem + 120px));
    margin: 8px 8px;

    &__form {
        width: 100%;
        height: 100%;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: space-evenly;

        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 250px;
            margin: 25px auto;
            border: 2px solid black;

            &__text {
                font-size: 1.2rem;
                font-weight: 600;
                margin: 0 10px;
                text-align: center;
            }

            &__checkbox {
                position: absolute;
                top: 10px;
                left: 10px;
                cursor: pointer;
            }
        }
    }
}

.bottom {
    padding: 24px 0;

    &__text {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .top {
        flex-direction: column;

        &__text {
            margin-bottom: 20px;
        }

        &__buttons {
            margin-bottom: 20px;
        }
    }
}