* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

hr {
  width: calc(100% - 64px);
  margin: auto;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 32px 4px 32px;
}

.top__text {
  font-size: 3rem;
  font-weight: 600;
}

.top__buttons__delete {
  margin-left: 10px;
}

.top__buttons__add, .top__buttons__delete {
  font-size: 1rem;
  padding: 0.2em 0.6em;
  cursor: pointer;
}

.items {
  min-height: calc(100% - (4rem + 120px));
  margin: 8px 8px;
}

.items__form {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.items__form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 250px;
  margin: 25px auto;
  border: 2px solid black;
}

.items__form__item__text {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 10px;
  text-align: center;
}

.items__form__item__checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.bottom {
  padding: 24px 0;
}

.bottom__text {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__buttons {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=list.css.map */